<a
  class="navbar-link is-arrowless"
  id="help-button"
  href="https://github.com/appdevdesigns/appbuilder_docs/issues/new?body=_From {{ page.category }}/{{ page.title }}_"
>
  {% include icon.html i='fa-question'%}
</a>
<div class="navbar-dropdown is-right is-boxed">
  <a
    class="navbar-item"
    href="{{ site.github.repository_url }}/issues/new?body=_From {{ page.category }}/{{ page.title }}_"
  >
    Report an issue <br />
    with the documentation <br />
    or ask a question.
  </a>
</div>
